/* Asterik wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    background-color: #28965A;
    position: fixed;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: 100vw;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    list-style: none;
}


header nav ul li {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: #0B0A09;
    font-family: 'Merienda', cursive;
}

/* Main Content */

section {
    display: flex;
    min-height: 80vh;
    border: 1px solid #0B0A09;
}

.content_container {
    margin-top: 2px;
}

#cover {
    display: flex;
    justify-content: left;
    align-items: center;
    background: url(images/yoga\ at\ the\ beach.jpg) no-repeat center/cover;
}

#cover_content {
    display: flex;
    height: 65%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 62px;
    padding-top: 35px;
    background-color: #7F95D1;
}

.cover_text {
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
    ;
    margin: 22px;
    padding: 5px;
}

#cover_p {
    margin-bottom: 67px;
    line-height: 2px;
}

/* About Us */

#about_us {
    background-color: #01A292;
    justify-content: center;
    align-items: center;
}

#about_us h2 {
    font-family: 'Merienda', cursive;
    margin-left: 1%;
}

.h_text {
    font-size: larger;
    text-align: center;
    font-family: 'poppins', sans-serif;
    text-decoration-line: underline;

}

#about_content p {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

/* Sign Up form*/
#sign_up {
    display: flex;
    background-color: #7F95D1;
    justify-content: space-evenly;
    font-family: 'Merienda', cursive;
    ;
}

#signup_container {
    padding: 25px;
    margin-right: 20px;
    margin-top: 10%;
}

#signup_img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 20px;
    padding: 9px;
    max-width: 75%;
}

#signup_form {
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    min-height: 250px;
    margin-top: 40px;
    margin-right: 60px;
}

.form_label {
    max-width: 375px;
    width: 100%;
    height: 25px;
    margin-top: 8px;
    font-family: 'Merienda', cursive;
    font-size: 16px;
}

input [type=text] {
    border: none;
    margin: 5px;
}

.form_textarea {
    width: 100%;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
}

.form_button {
    max-width: 100px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    line-height: 8px;
    background-color: #ffffff;
    color: #0B0A09;
    padding: 12px;
    font-family: 'poppins', sans-serif;
}

.form_button:hover {
    cursor: pointer;
    background-color: #5f5f92;
}

/* Opening Hours */
#opening_hours {
    background-color: #28965A;
    display: flex;
    justify-content: space-evenly;
    font-family: 'poppins', sans-serif;
}

#open_container {
    padding: 25px;
    margin-right: 20px;
    margin-top: 12%;
}

table,
th,
td {
    border: 1px solid #0B0A09;
    padding: 15px;
}

#opening_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    padding: 12px;
    max-width: 75%;
}

/* Footer */
#footer {
    line-height: 20px;
    padding: 10px;
    background-color: #01A292;
}

#social_links {
    display: flex;
    justify-content: space-around;
}

#social_links a {
    color: #0B0A09;
}

.submit_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;

}

.submit_page h1,
p {
    margin: 12px;
    padding: 5px;
    font-family: 'Merienda', cursive;
}

/* Media queries */

/* Extra small devices (320px and up) */
@media only screen and (max-width: 320px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        font-size: smaller;
    }

    .cover_text {
        font-size: smaller;
    }

    #cover_content {
        margin-left: 20px;
    }
}

/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 12px;
    }

    header {
        display: flex;
    }

    section {
        padding-bottom: 8px;
    }

    .cover_text {
        font-size: smaller;
    }

    #cover_content {
        margin-left: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    section {
        padding-bottom: 15px;
    }

    #sign_up {
        flex-wrap: wrap;
    }

    #opening_hours {
        flex-wrap: wrap;
    }
}